<html>

<head>
    {% if title %}
    <title>{{ title }} - Stolify</title>
    {% else %}
    <title>Stolify</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id="header"><a href="{{url_for('index')}}">Stolify</a></div>
    <hr id="hr_header">

    <div id="block_content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>